---
title: Ethan Morrill-Ploum
about: {
    title: 'About Me',
    description: "I am a Canadian / American programmer with an interest in web development and games. I build <a href='/portfolio/#sites'>websites</a> and <a href='/portfolio'>games</a> interchangably, and primarily work
    in Python, C#, Javascript, MySQL, and HTML / CSS. I've also dabbled in low-level hardware and the more practical side of scripting. In my free time I like to cook, code, 
    and play games. I'm always on the lookout for a cool project, so feel free to <a href='/contact'>contact me</a>!",
}
---

{% render 'templates/base-page' %}

{% block head %}
<!-- TODO: Figure out why this has to be here and won't work in the JS block. -->
<!-- TODO: Figure out why we're getting errors accessing the parent element on first load. Check console. -->
<script src="/bin/svg-clouds/index.js"></script>
{% endblock %}

{% block content %}
    <div id="title-wrapper">
        <div id="plane-stroke">
            <!-- M2.242152452468872,2.6905829906463623C15.18385606408119,9.336323055028915,36.08071673750877,-21.291477979421607,68.60986328125,36.77130126953125C101.13900982499123,94.83408051848411,53.45738739013673,229.79371490478516,169.05828857421875,300.44842529296875C284.6591897583008,371.10313568115237,565.4215393066406,379.8654782104492,661.4349975585938,399.1031494140625 -->
            <!-- M583.4080810546875,0C423.7668228149414,41.85351308186849,72.79521942138672,-7.174883524576813,104.48430633544922,125.56053924560547C136.17339324951172,258.2959620157877,487.1449966430664,307.3243586222331,678.475341796875,398.2062683105469 -->
            <!-- TODO: This is a bit iffy for responsive design. I can't seem to center it properly, so maybe just use a media query to swap the path to something nicer that cuts across in one direction. -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" version="1.1" viewBox="0 0 800 400">
                <mask id="mask-path">
                <path 
                    id="mask-path-inner" 
                    d="M583.4080810546875,0C423.7668228149414,41.85351308186849,72.79521942138672,-7.174883524576813,104.48430633544922,125.56053924560547C136.17339324951172,258.2959620157877,487.1449966430664,307.3243586222331,678.475341796875,398.2062683105469"
                    fill="none" 
                    stroke-width="9" 
                    stroke="hsl(255, 100%, 100%)" 
                    stroke-linecap="round" 
                    stroke-dasharray="24 14"
                />
                </mask>

                <path 
                    id="main-path" 
                    mask="url(#mask-path)" 
                    d="M583.4080810546875,0C423.7668228149414,41.85351308186849,72.79521942138672,-7.174883524576813,104.48430633544922,125.56053924560547C136.17339324951172,258.2959620157877,487.1449966430664,307.3243586222331,678.475341796875,398.2062683105469"
                    fill="none" 
                    stroke-width="9" 
                    stroke="hsl(205, 69%, 50%)" 
                    stroke-linecap="round" 
                    stroke-dasharray="24 14"
                />
            </svg>

            <div id="paper-plane">
                <img src="/images/paper-plane-origami-svgrepo-com.svg"/>
            </div>
        </div>

        <div class="cloud-container">
            <div id="floater-1" class="animation-container">
                <svg-cloud class="custom-cloud" style="--size-x: 10rem; --size-y: 4rem">
                    <svg-cloud-part class="cloud-back" seed="0" aniamation-duration="180s"></svg-cloud-part>
                    <svg-cloud-part class="cloud-mid" seed="0" aniamation-duration="180s"></svg-cloud-part>
                    <svg-cloud-part class="cloud-front" seed="0" aniamation-duration="180s"></svg-cloud-part>
                </svg-cloud>
            </div>

            <div id="floater-2" class="animation-container">
                <svg-cloud class="custom-cloud" style="--size-x: 16rem; --size-y: 6rem">
                    <svg-cloud-part class="cloud-back" seed="10" aniamation-duration="210s"></svg-cloud-part>
                    <svg-cloud-part class="cloud-mid" seed="10" aniamation-duration="210s"></svg-cloud-part>
                    <svg-cloud-part class="cloud-front" seed="10" aniamation-duration="210s"></svg-cloud-part>
                </svg-cloud>
            </div>

            <div id="floater-3" class="animation-container">
                <svg-cloud class="custom-cloud" style="--size-x: 20rem; --size-y: 8rem">
                    <svg-cloud-part class="cloud-back" seed="20" aniamation-duration="240s"></svg-cloud-part>
                    <svg-cloud-part class="cloud-mid" seed="20" aniamation-duration="240s"></svg-cloud-part>
                    <svg-cloud-part class="cloud-front" seed="20" aniamation-duration="240s"></svg-cloud-part>
                </svg-cloud>
            </div>

            <svg-cloud id="main-cloud" class="custom-cloud" style="--size-x: 100%; --size-y: 18rem">
                <svg-cloud-part class="cloud-back" seed="30"></svg-cloud-part>
            </svg-cloud>
        </div>

        <div id="avatar-container">
            <div id="avatar">
                <img src="images/Headshot_Cropped-2.jpg" alt="A picture of Ethan">
            </div>
        </div>
    </div>

    <div id='content' class="responsive-gutters">
        <div id="nav-container">
            <!-- Blog Previews -->
            {% assign latest_posts = collections.posts | reverse | slice: 0, 3 %}
            {% render 'snippets/nav-section',
                title: blog_nav_section.title
                description: blog_nav_section.description
                content: latest_posts
                contentLength: collections.posts.length
                more: blog_nav_section.more
            %}

            <!-- Site Previews -->
            {% assign latest_sites = collections.sites | reverse | slice: 0, 3 %}
            {% render 'snippets/nav-section',
                title: sites_nav_section.title
                description: sites_nav_section.description
                content: latest_sites
                contentLength: collections.sites.length
                more: sites_nav_section.more
            %}  

            <!-- Game Previews -->
            {% assign latest_games = collections.games | reverse | slice: 0, 3 %}
            {% render 'snippets/nav-section',
                title: games_nav_section.title
                description: games_nav_section.description
                content: latest_games
                contentLength: collections.games.length
                more: games_nav_section.more
            %}
        </div>
        
        <!-- About Me -->
        {% render 'snippets/nav-section',
            title: about.title,
            description: about.description
        %}
    </div>
{% endblock %}

{% block js %}
    <script src="/js/ie-check.js"></script>
    <script src="/js/easter-egg.js"></script>
    <script type="module" src="/js/line-animations.js"></script>
{% endblock %}