{% include templates/base-page %}

<link rel="stylesheet" type="text/css" href="/styles/contact.css"/>

{% block content %} 
    <div class="responsive-gutters">
        <div class="nav-section">
            <h1>Contact</h1>
            <p>I'm always happy to chat! Feel free to reach out either through the contact form below or my various social media links.</p>

            <form id="contact" name="contact" method="POST" action="" data-netlify="true">
                <label for="email">Email</label><br/>
                <input id="email" name="email" type="email"/>

                <br/>

                <label for="subject">Subject</label><br/>
                <input id="subject" name="subject" type="text" required/>

                <br/>

                <label for="message">Message</label><br/>
                <textarea id="message" name="message" rows="12"></textarea>

                <br/>

                <div id='submit-container'>
                    <input type="submit" class="inverted" value="Submit"/>
                    {% include components/generic-social-links %}
                </div>
            </form>
            
            <p id='form-help'>
                <i>Form not working? Email me directly at <a href="mailto:ethanmorrillploum@gmail.com">ethanmorrillploum@gmail.com</a></i>
                <b>TODO: Put in footer.</b>
            </p>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/contact-form.js"></script>
{% endblock %}