<header>
    <div id="title-avatar">
        <img src="https://via.placeholder.com/64"/>
    </div>
    <ul id="title-menu">
        <li><a href="/" class="inverted">Home</a></li>
        <li><a href="/" class="inverted">Portfolio</a></li>
        <li><a href="/" class="inverted">About</a></li>
        <li><button class="inverted" href="/">Contact</button></li>
    </ul>
    <div id='title-progress-bar'></div>
</header>