<div class="nav-section">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <nav>
        {%- for el in content %}
        <p>{{ el.title }}</p>
        <p>{{ el.body }}</p>
        {%- endfor %}
    </nav>
</div>