<header>
    <div id="header-content">
        <div id="title-avatar">
            <a href="/" class="no-decoration"><img src="/images/Ethan_02.png"/></a>
        </div>
        <ul id="title-menu">
            <li><a href="/" class="inverted">Home</a></li>
            <li><a href="/portfolio" class="inverted">Portfolio</a></li>
            <li><a href="/blog/posts/" class="inverted">Blog</a></li>
            <li><a href="/contact" class="no-decoration"><button id="contact" class="inverted">Contact</button></a></li>
        </ul>
        <ul id="title-menu-small">
            <li><button id="menu-button" class="inverted">Menu</button></li>
        </ul>
        <div id='title-progress-bar'></div>
    </div>

    <div id="external-menu">
        <ul>
            <li><a href="/" class="inverted">Home</a></li>
            <li><a href="/portfolio" class="inverted">Portfolio</a></li>
            <li><a href="/blog/posts/" class="inverted">Blog</a></li>
            <li><a href="/contact" class="no-decoration"><button id="contact" class="inverted">Contact</button></a></li>
        </ul>
    </div>

    <noscript>
        <div id="notification-nojs">
            <p id="notification-text">
                You don't have Javascript enabled! This site may not behave properly without it.
            </p>
        </div>
    </noscript>
    
    <div id="notification">
        <p id="notification-text"></p>
    </div>
    
    <script type="text/javascript" src="/js/notification.js"></script>
</header>
<div id='header-block'></div>
<script type="text/javascript" src="/js/header.js"></script>