<li class="nav-entry">
    {% if item.data.thumbnail %}
        {% include components/thumbnail with { image: item.data.thumbnail, url: item.url } %}
    {% else %}
        {% include components/thumbnail with { image: item.data.image, url: item.url } %}
    {% endif %}
    <div class="nav-entry-data">
        <span class='nav-entry-title-bar'>
            <a class='nav-entry-title' href={{ item.url }}>{{ item.data.title }}</a>
            <ul class='nav-entry-tags'>
                {% for tag in item.data.innerTags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </span>
        {% excerpt item %}
    </div>
</li>