@import "../node_modules/svg-clouds/src/default";

.cloud-container {
    overflow: hidden;
    width: 100%;
    height: 100%;

    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#low-cloud-container {
    // overflow: hidden;
    // width: 100%;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

.custom-cloud {
    position: absolute;
    width: var(--size-x);
    height: var(--size-y);
}

.animation-container {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform;
}

#main-cloud {
    left: 0;
    bottom: calc(var(--size-y) * -0.5);
}

#floater-1 {
    // animation: 1s infinite linear 0s normal svg-cloud;
    animation: calc(8 * 60s) infinite linear -300s normal svg-cloud;

    svg-cloud {
        bottom: 60%;
    }
}

#floater-2 {
    // animation: 1s infinite linear -30s reverse svg-cloud;
    animation: calc(9 * 60s) infinite linear -30s reverse svg-cloud;

    svg-cloud {
        bottom: 40%;
    }
}

#floater-3 {
    // animation: 10s infinite linear -100s normal svg-cloud;
    animation: calc(10 * 60s) infinite linear -900s normal svg-cloud;

    svg-cloud {
        bottom: 80%;
    }
}

@keyframes svg-cloud {
    0% {
        transform: translateX(-115%);
    }
    100% {
        transform: translateX(115%);
    }
}