@use 'global';
@use 'base_page';
@use 'header';
@use 'image-slider';
@use 'desaturated-header';

// Tablet devices and smaller...
@media only screen and (max-width: global.$breakpoint-tablet) {
    #content {
        #description {
            width: 100%;
            order: 2;
        }

        #screenshots {
            order: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow-x: scroll;
            
            img {
                max-width: 16rem;
                margin: 16px 8px 16px 8px;
            }
            
            .video-container {
                margin: 16px 8px 16px 8px;

                iframe {
                    height: 100%;
                }
            }
        }
    }
}

// Desktops...
@media only screen and (min-width: global.$breakpoint-tablet) {
    #content {
        #description {
            margin-top: 8px !important;
            width: 60%;
            order: 1;
        }

        #screenshots {
            width: 40%;
            padding: 8px 16px 8px 16px;
            box-sizing: border-box;
            order: 2;
            
            img, .video-container {
                width: 100%;
                margin: 0;
            }
            
            .video-container {
                display: inline-block;
                position: relative;
                height: 0;
                padding-bottom: 56.25%;  // 16:9 aspect ratio.

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.25em;
    margin-top: 2rem;

    h1:before {
        content: '#';
        padding-right: 0.75em;
        color: global.$dark-accent-color;
    }
    
    pre {
        box-sizing: border-box;
    }

    // .video-container {
    //     position: relative;
    //     width: 100%;
    //     height: 0;
    //     padding-bottom: 56.25%;  // 16:9 aspect ratio.

    //     iframe {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    
    #description {
        margin-top: 32px;

        #download-section {
            height: auto;
            min-height: 48px;
            width: 100%;
            text-align: left;

            position: relative;
            border: 3px solid transparent;
            border-radius: 16px;
            background-clip: padding-box;
            background-color: global.$accent-gradient;

            #label {
                min-height: 32px;
                width: 100%;
                margin: 0;
                padding: 6px 0;
                
                background-color: global.$light-color;
                border-radius: 16px 16px 0px 0px;
                text-align: center;
                font-weight: bold;

                @include global.for-desktop-up {
                    padding: 0;
                }
            }

            &:after {
                content: "";
                z-index: -1;
                position: absolute;
                top: -3px;
                bottom: -3px;
                right: -3px;
                left: -3px;
                border-radius: 16px;
                background: global.$accent-gradient;
            }

            // border-radius: 32px;
            // border: 3px solid global.$dark-color;
            // border-image: global.$accent-gradient 3;
            // padding: 8px 16px;
            // box-sizing: border-box;

            #links {
                display: flex;
                justify-content: center;
                align-items: stretch;
                position: relative;
                width: 100%;
                height: 100%;
                box-sizing: border-box;

                .download-link-container {
                    display: block;
                    position: relative;
                    top: 0;
                    bottom: 0;

                    a {
                        height: 100%;
                        display: block;
                        box-sizing: border-box;
                        padding: 8px 0;
                        text-align: center;
    
                        img {
                            display: block;
                            max-width: 8rem;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}
