@use 'global';
@use 'base_page';
@use 'header';
@use 'image-slider';
@use 'desaturated-header';

// TODO: Media queries to move the screenshots from the side to the top.
// What follows is for the large-sized screens.

#content {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.25em;
    margin-top: 2rem;

    h1:before {
        content: '#';
        padding-right: 0.75em;
        color: global.$dark-accent-color;
    }

    pre {
        box-sizing: border-box;
    }

    img {
        position: relative;
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }

    #links {
        width: 100%;

        img {
            max-width: 8rem;
        }
    }

    #description {
        width: 75%;
        float: left;
    }

    #screenshots {
        width: 25%;
        float: right;
    }
}