// Theme colors
$light-color: #F9F8F8;  // Alabaster -- Background in light, text in dark.
$light-accent-color: #E09B5E; // Di Serria -- Draws attention. Sparingly used.
$dark-color: #45414C; // Chestnut Rose -- Text in light, background in dark.
$dark-accent-color: #CC5658; // Ship Gray -- Draws attention. Sparingly used.
$notification-success-color: #92B5A6; // Summer Green -- Used for "success" notifications.

$blue: #4A8FE7;  // Blue --  Used for lines.

$accent-gradient: linear-gradient(120deg, $dark-accent-color 60%, $light-accent-color);

$body-typestack:  'Frutiger', 'Frutiger Linotype', 'Univers', 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'Myriad', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, 'Geneva', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-typestack: 'Cambria', 'Hoefler Text', 'Utopia', 'Liberation Serif', 'Nimbus Roman No9 L Regular', 'Times', 'Times New Roman', 'serif';

$h-tags: "h1, h2, h3, h4, h5, h6";
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active", "a:hover";

$breakpoint-mobile: '600px';
$breakpoint-tablet: '1200px';
$minimum-width: 280px;  // As small as we can go before we need to just force horizontal scrolling.

// Brilliant. Didn't know about Sass mixins before this.
// https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

$vignette-shadow: inset 0 0 100px;

$footer-padding: 2.5rem;

$background-center: 'center';
$background-top: 'top';
$background-bottom: 'bottom';
$background-left: 'left';
$background-right: 'right';