// Theme colors
$light-color: #F9F8F8;  // Alabaster -- Background in light, text in dark.
$light-accent-color: #E09B5E; // Di Serria -- Draws attention. Sparingly used.
$dark-color: #45414C; // Chestnut Rose -- Text in light, background in dark.
$dark-accent-color: #CC5658; // Ship Gray -- Draws attention. Sparingly used.
$brand-color: #92B5A6; // Summer Green -- Used for icons, branding. Liberally applied.

$accent-gradient: linear-gradient(120deg, $dark-accent-color 60%, $light-accent-color);

$h-tags: "h1, h2, h3, h4, h5, h6";
$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active", "a:hover";

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $light-color;
}

#{$h-tags}, p {
    color: $dark-color;

    &.inverted {
        color: $light-color;
    }
}

#{$a-tags} {
    color: $dark-accent-color;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}

#{$a-tags-hover} {
    color: $light-color;
    background-color: $dark-color;
    background-image: $accent-gradient;
    border-radius: 3px;

    // &.inverted {
    //     color: $light-color;
    // }
}

button {
    // background-color: $dark-accent-color;
    color: $light-color;
    padding: 12px 48px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    text-transform: capitalize;

    transition: 0.25s ease-out;
    background-image: $accent-gradient;
    background-position: left;
    background-size: 200%;
}

button:hover {
    background-position: center;
    border-radius: 8px;
}