@use 'global';

.visible-path {
    stroke: global.$blue;
}

#plane-stroke-top {
    position: absolute;
    width: 80%;
    height: 75%;
    top: 40%;
    left: 10%;

    svg {
        position: relative;
        height: 100%;
        width: 100%;
    }
}

#plane-stroke-mid {
    position: relative;
    width: 100%;
    padding-bottom: 2.5rem;

    svg {
        position: relative;
        height: 100%;
        width: 100%;
    }
}

#paper-plane {
    position: absolute;
    height: 6.5rem;
    width: 6.5rem;
    top: 0;
    bottom: 0;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}