@use 'global';

#content {
    .video {
        display: flex;
        justify-content: center;
        width: 100%;

        .video-container iframe {
            @include global.for-phone-only {
                height: 158px;
                width: 280px;
            }

            @include global.for-tablet-portrait-up {
                height: 326px;
                width: 580px;
            }

            @include global.for-tablet-landscape-up {
                height: 383px;
                width: 680px;
            }
        }
    }
}